*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
}

.fondo{
    animation: zoom 15s ease-in-out infinite alternate;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.barra{
    position: relative;
    height: 50px;
    background-color:#89EBF5;
    z-index: 1;
}
.logo{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 20px;
    border-radius: 30px 30px 30px 30px;
}
.title{
    position: absolute;
    left: 60px;
    top: 2.3px;
    font-family: 'Tilt Prism', cursive;
    background: linear-gradient(70deg,#F3B74F , #F4E422 ,#F3B74F,#F4E422 ,#F3B74F );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}
.boton{
    position: absolute;
    top: 12px;
    font-size: 20px;
    text-decoration: none;
    color: #F3B74F;
}
#D{
    left: 790px;
}
#H{
    left: 985px;
}
#C{
    left: 1100px;
}
#I{
    left: 1200px;
}
.first{
    position: absolute;
    top: 200px;
    left: 270px;
    width: 800px;
    display: block;
}
#one{
    font-size: 100px;
    color: white;
    text-align: center;
    font-family:  'Tilt Prism', cursive;
    color: #F3B74F;
}
.descript{
    position: absolute;
    display: block;
    top: 530px;
    left: 0%;
    width: 1s000px;
}
#two{
    color: #F3B74F;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
.img{
    position: absolute;
    top: 120%;
    left: 28%;
    background-color: #F3B74F;
    
}
#img{
    width: 800px;
    margin: 50px;
}
